@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 0);
}
section{
    padding:30px 30px;
}
.logo a{
    font-size: 24px;
    color: #ff0000;
    font-weight: bolder;
}
header{
    padding: 0px 40px;
    display: flex;
    height: 12vh;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0) !important;
}
.nav{
    display: flex;
    gap: 40px;
}
.nav ul {
    margin-top: 10px;
    display: flex;
}
.nav ul li a{
    color: #E5E5E5;
    padding: 0px 12px;
    font-size: 14px;
}
.nav .active a{
    font-weight: bold;
    color: #ff0000;
}
.search i{
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 10px;
    color: #E5E5E5;
    background-color: #ff0000;
}
.sign{
    padding: 8px 20px;
    background-color: #ff0000;
}
.sign a{
    color: #E5E5E5;
    font-weight:normal;
}
.owl-carousel {
    width: 100%;
    height: 100vh;
}
.slide {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.slide-1 {
    background-image: url(IMAGES/SLIDER/5.jpg);
}
.slide-2 {
    background-image: url(IMAGES/SLIDER/6.jpg);
}
.slide-3 {
    background-image: url(IMAGES/SLIDER/8.jpg);
}
.slide-4 {
    background-image: url(IMAGES/SLIDER/7.jpg);
}
.slide-5{
    background-image: url(IMAGES/trending/1.jpg);
}
.slide-content{
    position: absolute;
    color: #E5E5E5;
    line-height: 1.5;
    top: 25%;
    left:5%;
    text-align: center;
}
.slide-content .heading h1{
    font-size: 80px;
    letter-spacing: 7px;
}
.lorem{
    padding: 20px 320px;
}
.imdb{
    word-spacing: 7px;
    font-size: 20px;
    color: #fff;
}
.imdb i{
    color: #ff0000;
}
.slide-content .free a{
    padding: 4px 4px;
    background-color: #ff0000;
    font-size: 10px;
    color: #E5E5E5;
    letter-spacing: 3px;
    font-weight: bolder;
}
.slide-content .btn1 a{
    padding: 10px 30px;
    background-color: #ff0000;
    color: #E5E5E5;
}
.slide-content .btn1 i{
    padding: 10px;
}
.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 1%;
}
.owl-dots span {
    width: 10px !important;
    height: 10px !important;
}
.owl-dots button {
    border: none !important;
    outline: none !important;
}
.owl-nav button {
    border: none !important;
    outline: none !important;
}
.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    font-size: 65px !important;
    font-weight: bolder !important;
    background:none !important;
}
.owl-prev {
    left: 1%;
}
.owl-next {
    right: 1%;
}
.trending{
    margin-top: 30px;

}
.trending h1{
    font-size: 20px;
   color: #fff;
}
.line{
    margin-top: 4px;
    height: 3px;
    background: #ff0000;
    width: 8.5%;
}
.trending-container{
    height: 50vh;
}
.trending-inside{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    padding: 10px 0px;
}
.trending-content img{
    height: 280px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.trending-content  img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/*trending ends*/

/*popular*/
.popular h1{
    color: #fff;
    font-size: 20px;
}
.line1{
    margin-top: 4px;
    height: 3px;
    background: #ff0000;
    width: 6%;
}
.popular-inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    margin-top: 20px;
}
.popular-content h6{
    color: #fff;
    margin-top:20px;
    font-size: 16px;
    position: absolute;
}
.popular-content span{
    background-color: #ff0000;
    float: right;
    color: #fff;
    padding: 5px 5px;
    margin-top: 20px;
}
.popular-content img{
    height: 200px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.popular-content  img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.popular-container{
    height: 50vh;
}

/*telugu*/
.telugu h1{
color: #fff;
font-size: 20px;
}
.line2
{
    height: 3px;
    background: #ff0000;
    width: 6%;
    margin-top: 4px;
}
.more{
    float: right;
    margin-right: 6px;
    margin-top: -17px;
}
.more a{
    padding: 10px 16px;
    font-weight: bolder;
    color: #fff;
    font-size: 14px;
}
.inside-telugu{
    display: flex;
}
.telugu-content img{
    height: 280px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.telugu-content  img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.telugu-container{
    height: 50vh;
}
.inside-telugu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
    margin-top: 20px;
}
/*tamil*/
.tamil h1{
    color: #fff;
    font-size: 20px;
    }
    .line3
    {
        height: 3px;
        background: #ff0000;
        width: 5%;
        margin-top: 4px;
    }
    .more{
        float: right;
        margin-right: 6px;
        margin-top: -17px;
    }
    .more a{
        color: #fff;
        font-size: 14px;
    }
    .inside-tamil{
        display: flex;
    }
    .tamil-content img{
        height: 280px;
        border-radius: 10px;
        transition: all 500ms ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .tamil-content  img:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    .tamil-container{
        height: 50vh;
    }
    .inside-tamil{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
        gap: 10px;
        margin-top: 20px;
    }
.upcoming h1{
    font-size: 20px;
    color: #fff;
}
.line4{
    height: 3px;
        background: #ff0000;
        width: 8.5%;
        margin-top: 4px;
}
.upcoming-container{
    height: 70vh;
}
.inside-upcoming{
    display: flex;
    padding: 40px 80px;
    margin-top: 20px;
    gap: 40px;   
}
.upcoming-content{
    color: #fff;
    line-height: 2;
}
.upcoming-content h2{
    font-size: 18px;
    color: gray;
}
.upcoming-content p{
    font-size: 14px;
}
.upcoming-content img{
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.languages a{
    font-size: 10px;
    color: black;
    padding: 5px 5px;
    background-color: #fff;
}
.release h3{
    font-size: 14px;
}
.watch{
    margin-top: 10px
}
.watch a{
    background-color: #ff0000;
    padding: 10px 20px;
    color: #fff;
}
.notify a{
    margin-top: -20px;
    float: right;
    color:#ff0000;
    border-radius: 50%;
    background-color: #fff
}
.notify i{
    padding: 10px 10px;
}



/*malayalam*/
.malayalam h1{
    color: #fff;
    font-size: 20px;
    }
    .line5
    {
        height: 3px;
        background: #ff0000;
        width: 6%;
        margin-top: 4px;
    }
    .more{
        float: right;
        margin-right: 6px;
        margin-top: -17px;
    }
    .more a{
        padding: 10px 16px;
        font-weight: bolder;
        color: #fff;
        font-size: 14px;
    }
    .inside-malayalam{
        display: flex;
    }
    .malayalam-content img{
        height: 280px;
        border-radius: 10px;
        transition: all 500ms ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .malayalam-content  img:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    .malayalam-container{
        height: 50vh;
    }
    .inside-malayalam{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
        gap: 10px;
        margin-top: 20px;
    }



    /*telugu*/
.kannada h1{
    color: #fff;
    font-size: 20px;
    }
    .line5
    {
        height: 3px;
        background: #ff0000;
        width: 6%;
        margin-top: 4px;
    }
    .more{
        float: right;
        margin-right: 6px;
        margin-top: -17px;
    }
    .more a{
        padding: 10px 16px;
        font-weight: bolder;
        color: #fff;
        font-size: 14px;
    }
    .inside-kannada{
        display: flex;
    }
    .kannada-content img{
        height: 280px;
        border-radius: 10px;
        transition: all 500ms ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .kannada-content  img:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    .kannada-container{
        height: 50vh;
    }
    .inside-kannada{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
        gap: 10px;
        margin-top: 20px;
}
.pricing{
    margin-top: 40px;
}
.pricing h1{
    color: #fff;
    text-align: center;
}
.pricing-content{
    height: 80%;
    width: 30%;
    color: black;
    background-color: rgb(161, 161, 161);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    line-height: 2;
    padding: 50px 100px;
    border-radius: 10px;
}
.pricing-content h2{
    font-size: 20px;
    color: rgb(20, 20, 20);
    text-align: center;
}
.pricing-content h3,h4,h5{
    text-align: center;
    color: rgb(19, 19, 19);
}
.pricing-content h6{
    font-size: 40px;
    color: #fff;
    text-align: center;
}
.inside-pricing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
    padding: 30px 50px;
}
.price{
    margin-top: 20px;
    text-align: center;
}
.price a{
    font-size: 14px;
    color: #fff;
padding: 10px 20px;
background: rgb(48, 47, 47);
}
.socials i{
    color: #fff;
}
.footer{
    border-top: 0.6px solid rgb(65, 65, 65);
    margin-top: 100px;
}
.iniside-footer{
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
}
.logo1 a{
    font-size: 25px;
    font-weight: bolder;
    color: #ff0000;
}
.socials i{
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.footer-content{
    padding: 10px 40px;
}
.footer-content p{
    margin-top: 20px;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 14px;
    color: rgb(131, 130, 130);
}
.footer-content h3{
    color: rgb(131, 130, 130);
}
.footer-content ul li{
    line-height: 1.5;
    margin-top: 10px;
}
.footer-content ul li a{
    color: rgb(51, 51, 51);
}
.app img{
    height: 40px;
}
.copyright {
    color: rgb(131, 130, 130);
    margin-bottom: 15px;
  
}
.copyright p{
    margin-left: 100px;
    margin-top: 30px;
    text-align: center;
}
.copyright span{
    color: rgb(212, 209, 209);
}
.copyright-line{
    border-top: 1px dotted rgb(131, 130, 130);
   margin-left: 90px;
   margin-right: 90px;
}



#check{
    display: none;
}


@media (max-width:858px)
{
    .checkbtn{
        display: block;
        left: 220px;
        color: black;
        margin-top: -4px;
        background-color: white;
     }
     header{
         height: 12vh;
     }
    .nav ul{
        position: absolute;
         width: 100%;
         height: 50vh;
         background: #fff;
         top: 150px;
         left: -150%;
         text-align: center;
         transition: all .5s;
         display: block;
       }
    .nav ul li{
         padding: 10px;
       }
    .nav ul li a{
         font-size: 20px;
         color: #eee;
       }
       #check:checked ~ ul{
         left: 0;
         bottom: 100%;
     }
     .slide-content{
        top: 20%;
        left:2%;
    }
    .slide-content .heading h1{
        font-size: 40px;
        letter-spacing: 5px;
    }
    .slide{
        height: 60vh;
    }
    .lorem{
        padding: 20px 0px;
    }
    .imdb {
        color: rgb(139, 138, 138);
    }
    .owl-carousel {
        width: 100%;
        height: 60vh;
    }
    .trending-container{
        margin-top: 50px;
        height: 43vh;
    }
    .trending-inside{
        margin-top: 20px;

        gap: 10px;
        padding: 10px 0px;
    }
    .trending-content img{
        height: 200px;
    }
}